# PostgreSQL
psycopg2-binary==2.9.9; python_version >= '3.11'
psycopg2<3; python_version < '3.11'

# Trueskill
trueskill==0.4.5

# Web framework
starlette==0.16.0
uvicorn==0.14.0

# Async PostgreSQL
asyncpg==0.29.0; python_version >= '3.11'
asyncpg==0.24.0; python_version < '3.11'

# HTTP & templating
requests
Jinja2==2.11.3
MarkupSafe<2.1

# Cache
cachetools==3.1.1